@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
}

/* style for header */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 2.5rem 13.75rem;
}

nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
}

nav li{
    font-size: 1.125rem;
    font-weight: 500;
    margin-right: 1.875rem;
    list-style: none;
}
nav a{
    color: #424242;
}
.nav_title {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: 700;
}

/* .banner{} */

.banner_content{
    max-width: 53.125rem;
    text-align: center;
    margin: auto;
}

.banner_content--title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner_content--text{
    color: #727272;
}