@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
}
img {
  max-width: 100%;
}

.common--title {
  color: #131313;
  font-size: clamp(30px, 10vw, 45px);
  font-weight: 700;
}
.text--gray {
  color: #727272;
}
.btn--primary {
  border-radius: .5rem;
  background: #ff900e;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 1.25rem 1.5625rem;
  cursor: pointer;
  border: none;
}

/* style for header */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 40px 220px;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  font-size: 18px;
  font-weight: 500;
  margin-right: 30px;
  list-style: none;
}
nav a {
  color: #424242;
}

/* .banner{} */

.banner_content {
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.banner_content--title {
  font-size: clamp(32px, 15vw, 64px);
  font-weight: 700;
  color: #131313;
}

.banner_img {
  margin-top: 50px;
  max-width: 100%;
}

/* style for main */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* style rule for team section */
.teams_container {
  display: flex;
  align-items: center;
  margin: 6.25rem 0;
}
.team_img--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.team_content {
  padding: 0 70px;
}
.team_content--title {
  font-size: 2.8125rem;
}
.quick_text {
  color: #727272;
  font-weight: 500;
}
.team_content--title .Features_text {
  color: #ff900e;
  font-weight: 700;
}

/* style for fact section */

.facts{
  margin: 150px 0;
}

.fact_card--wrapper{
    display: flex;
    justify-content: space-around;
    gap: 1.25rem;
    flex-wrap: wrap;
    margin-top: 6.25rem;
    
}
.fact__card {
  border-radius: .5rem;
  border: .0625rem solid #ff900e;
  padding:3rem 2rem;
  text-align: center;
  /* flex: 1 1 10rem; */

}
.fact_card--stats{
    color: #424242;
    font-size: 2.8125rem;
    font-weight: 600;
    margin: .625rem;
}
.fact_card--title{
    color: #727272;
font-size: 1.25rem;
font-weight: 600;
margin: .625rem;
}

/* media queries */

@media screen and (max-width: 36rem) {
  header {
    padding: 1.25rem;
  }
  nav,
  .teams_container,
  .fact_card--wrapper
   {
    flex-direction: column;
  }
  nav ul{
    flex-wrap: wrap;
    gap: 1.25rem;
  }
  .team_img--container {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }

  .team_content {
    padding: 0 1.25rem;
  }
}
@media screen and (min-width: 36rem) and (max-width: 60rem) {
  header {
    padding: 2.5rem;
  }
  nav,
  .teams_container {
    flex-direction: column;
  }
}
